.music_img {
    width: 1.440rem;
    position: absolute;
    right: 0.960rem;
    top: 0.960rem;
    cursor: pointer;
    z-index: 200;
}

.rotate {
    animation: rotating 2s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*第1页*/

.slide_1 {
    position: relative;
}

.slide_1 ul {
    position: absolute;
    top: 24%;
    left: 21%;
    text-align: center;
}

.slide_1 ul li {
    font-size: 0.672rem;
}

.slide_1 ul .slide_1_1 {
    font-size: 1.152rem;
    margin-bottom: 1.440rem;
}

.slide_1 ul .slide_1_2 {
    line-height: 2;
    margin-top: 1.440rem;
    position: relative;
}

.slide_1 ul .slide_1_2 img {
    position: absolute;
    top: 0.624rem;
    left: 2.208rem;
}

.slide_1 ul .slide_1_2 div {
    text-align: left;
    margin-left: 3.208rem;
}

.arrow {
    display: block;
    width: 1.440rem;
    height: 1.440rem;
    position: absolute;
    bottom: -0.384rem;
    left: 45%;
    z-index: 199;
    animation: myTow 2s linear infinite;
}

@keyframes myTow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30%);
        opacity: 0;
    }
}


/*第二页*/

.slide2 {
    display: flex;
    flex-direction: column;
}

.slide2_1 {
    display: flex;
    justify-content: center;
}

.slide2_1_1 {
    position: absolute;
    left: 7%;
}

.slide2_1_3 {
    position: absolute;
    right: 7%;
}

.slide2_1_2 {
    font-size: 1.152rem;
    margin-bottom: 1.440rem;
}

.slide2_2 {
    display: flex;
    justify-content: space-between;
}

.slide2_2 .slide2_2_1 {
    width: 8.92rem;
    height: 6.912rem;
    text-align: left;
    font-size: 0.672rem;
    color: #676767;
    line-height: 1.4rem;
}

.slide2_2 .slide2_2_2 {
    width: 5.424rem;
    height: 6.652rem;
}

.slide2_2 .slide2_2_2 img {
    width: 100%;
    height: 100%;
}

.slide2_3 {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 1.440rem;
}

.slide2_3_3 {
    position: absolute;
    right: 16%;
    top: 24%;
    width: 6.76rem;
    height: 7.680rem;
    line-height: 1.3rem;
    text-align: left;
    font-size: 0.672rem;
    overflow: hidden;
    color: #676767;
}

.slide2_3 .slide2_3_1 {
    width: 3.168rem;
    height: 14.352rem;
    font-size: 0.768rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.slide2_3 .slide2_3_1 span {
    display: block;
    border: 0.048rem solid #000;
    width: 0;
    height: 3.16rem;
    align-self: center;
}

.slide2_3 .slide2_3_2 {
    width: 12.504rem;
    height: 12.648rem;
}


/*第3页*/

.slide3 {
    display: flex;
    flex-direction: column;
}

.slide3 .slide3_1 {
    width: 8.400rem;
    height: 1.920rem;
    font-size: 1.728rem;
    color: #fc552b;
}

.slide3 .slide3_2 {
    font-size: 0.672rem;
    text-align: left;
    line-height: 1.4rem;
    padding: 1.152rem;
    color: #EE332A;
}


/*第4页*/

.slide4 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.slide4 .slide4_1 {
    width: 8.352rem;
    height: 5.808rem;
    position: absolute;
    top: 0.44rem;
    left: -0.432rem;
}

.slide4 .slide4_2 {
    font-size: 1.152rem;
    margin-bottom: 1.440rem;
}

.rotate_2 {
    animation: rotating;
}

@keyframes rotating {
    0% {
        transform: rotate(0eg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.slide4 .slide4_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 16.392rem;
    height: 15.392rem;
}

.slide4 .slide4_3 p {
    width: 6.76rem;
    height: 6.76rem;
    padding: 0.480rem;
}

.slide4 .slide4_3 p img {
    width: 100%;
    height: 100%;
}

.slide4_3_1,
.slide4_3_2 {
    border-bottom: 0.048rem solid #c7c6c6;
}

.slide4_3_3,
.slide4_3_4 {
    border-top: 0.048rem solid #c7c6c6;
}

.slide4_3_1,
.slide4_3_3 {
    border-right: 0.048rem solid #c7c6c6;
}

.slide4_3_2,
.slide4_3_4 {
    border-left: 0.048rem solid #c7c6c6;
}

.slide4_4 {
    width: 3.744rem;
    height: 0.864rem;
    margin-top: 0.480rem;
}


/*第5页*/

.slide_5 ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slide_5 .slide_5_1 p {
    font-size: 1.152rem;
}

.slide_5_1 span {
    display: block;
    width: 12.448rem;
    border: 0.048rem solid #80b754;
    margin: 0 auto;
}

.slide_5 .slide_5_2 {
    text-align: left;
    font-size: 0.672rem;
    line-height: 1.920rem;
    padding-left: 2.92rem;
}

.slide_5 .slide_5_3 {
    font-size: 0.672rem;
    margin-top: -4.672rem;
}